.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: -15px;  
}

.inputContainer input {
  width: 20%;
  height: 30px;
  padding: 20px;
  color: var(--gray-300);
  background-color: var(--gray-500);
  border-radius: 5px;
  padding-left: 30px;
  border: none;
  outline: none;
}

.addButton {
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  gap: 8px; /* Adiciona espaço entre o texto e o ícone */
}

.addButton:hover {
  background-color: #003366;
}
